.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 50px rgb(204, 204, 204);
  overflow-y: scroll;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.5s ease;

  &.open {
    transform: translateX(0);
    opacity: 1;
  }

  h2 {
    padding: 2rem;
  }

  .songs {
    .song {
      padding: 2rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.1s ease-out;

      &.active {
        background-color: rgb(215, 221, 255);
      }

      img {
        width: 5em;
      }

      .description {
        padding-left: 1em;
      }

      h3 {
        font-size: 1em;
      }

      h4 {
        font-size: 0.7em;
      }

      &:hover {
        background-color: rgba(215, 221, 255, 0.5);
        box-shadow: 2px 2px 50px rgb(204, 204, 204);
        transform: scale(1.1);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}

