@import './song';
@import './player';
@import './library';
@import './nav';

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');

$scrollbar-color: rgba(155, 155, 155, 0.5);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-color transparent;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
    border-radius: 20px;
    border: transparent;
  }
}

body {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
p {
  color: rgb(54, 54, 54);
}

h3,
h4 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}
